.conteiner {
    display: flex;
    justify-content:space-around;
    align-items: center;
  }
  
img {
    height: 200px;
    margin: 200px 0;
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
  }
  
  img.loaded {
    opacity: 2; 
  }